.title{
    text-align: center;
}
#title{
    width: 100%;
    position: fixed;
}
body{
    background-color: lightgreen;
    display: block;
}
label{
    font-size: 18px;
    width: 150px;
}
input, select{
    width: 250px;
    height: 25px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    overflow: auto;
    padding-top: 5%;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 2px 2px 2px 2px;

}
#predict{
    position: fixed;
    top: 50px;
    right: 100px;
}
#map_099a3fa751d44262b004a99bacb740b9{
    position: fixed;
    top: 15%;
    left: 31%;
    width: 68.5%;
    height: 83%;
}
.buttons{
    position: fixed;
    top: 9%;
    left: 31%;
    width: 230px;
}
.hide-map{
    margin-left: 5%;
}
@media (max-width: 850px) {
    .line {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width:100%;
    }
    #predict{
        position: static;
        font-size: 18px;
    }
    .title{
        text-align: center;
        font-size: 25px;
        background-color: green;
        margin: 0;
    }
    form{
        padding-top: 8%;
        font-size: small;
    }
    .buttons{
        display: none;
    }
    #map_099a3fa751d44262b004a99bacb740b9{
        display: none;
    }
  }